body{
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

button:focus{
  outline: 0;
  text-decoration: none
}

.PrimarySearchAppBar-root-1{
  height: 20px;
}

.styleforLink{
  outline: 0;
}

a:hover {
  text-decoration: none;
}

.react-swipeable-view-container{
  height: max-content;
}

.MuiTypography-root-85 > ul {
  max-width: 100% !important;
}
